
/* style for filter */
.between-number-filter {
    display:inline-block !important;
    width:auto !important;
}
/* end style for filter */

/* style for multiselect */
.custom__tag {
    display:inline-block;
    padding:3px 12px;
    background:#d2d7ff;
    margin-right:8px;
    margin-bottom:8px;
    border-radius:10px;
    cursor:pointer
}
.custom__tag:nth-child(2n) {
    background:#daffee
}
.custom__tag:hover {
    background:#eaeaea
}
.custom__remove {
    padding:0;
    font-size:10px;
    margin-left:5px
}
.multiselect__tags {

}
.multiselect__placeholder {
    color: #989a9b;
}
/* end style for tags on multiselect */

/* cape errors */
.cape-error {
    background-color: orange;
    color: black;
    padding: 0.3em 1em;
}
/* end cape errors */


.filter-form-field-searchtype {
    width: 100%; 
}
select {
    background-color: #efefef;
    border: solid 1px #a8a8a8;
    border-radius: 5px;
}
	
