{
	"datasets": [
		{
			"id":"erddig",
			"title": "Erddig Recordings",
			"base_file_name":"erddig",
                        "format":"xlsx",
			"sort": [ "title", "date" ],
			"license": {
				"url":"https://creativecommons.org/licenses/by/3.0/",
				"name":"Creative Commons Attribution 3.0 Unported (CC BY 3.0)"
			},
			"copyright": {
				"url":"https://www.southampton.ac.uk/",
				"name":"University of Southampton"
			},
			"creators": [{
				"name": "Mark Everist",
				"email": "M.Everist@southampton.ac.uk"
			}],
			"attribution": {
				"text": "France: Musiques, Cultures, 1789-1918 – Music in the Second Empire Theatre",
				"url": "http://fmc.ac.uk/mitset/"
			},	
        		"id_field":"record_number",
			"fields":[
				{
					"id":"record_number",
					"type":"integer",
					"source_heading":"AUTO",
					"label":"Record number",
					"description":"Record number"
				},
				{
					"id":"date",
					"type":"text",
					"source_heading":"Date of Original Work",
					"label":"Date",
					"description":"Date of Original Work",
					"quick_search":true,
					"placeholder":{ "is": "eg. 1857 or 1857-12-25", "between": [ "eg. 1857 or 1857-12-25", "eg. 1857 or 1857-12-25" ] }
				},
				{
					"id":"title",
					"type":"text",
					"source_heading":"Title [title of individual recorded piece]",
					"label":"Title",
					"description":"Title [title of individual recorded piece]"
				},
				{
					"id":"work",
					"type":"text",
					"source_heading":"Work Title [title of larger work, if an excerpt, e.g. specific oratorio or suite]",
					"label":"Work Title",
					"description":"Work Title [title of larger work, if an excerpt, e.g. specific oratorio or suite]"
				},
				{
					"id":"derivative_work",
					"type":"text",
					"source_heading":"Derivative Work [e.g. Cunning Man is drawn from Le Devin du Village]",
					"label":"Derivative Work",
					"description":"Derivative Work [e.g. Cunning Man is drawn from Le Devin du Village]"
				},
				{
					"id":"date_of_derivative_work",
					"type":"text",
                			"source_heading":"Date of Derivative Work",
                			"label":"Date of Derivative Work",
                			"description":"Date of Derivative Work"
				},
				{
					"id":"source",
					"type":"text",
                			"source_heading":"Source [title of print, or if manuscript, description]",
                			"label":"Source",
                			"description":"Source [title of print, or if manuscript, description]"
				},
				{
					"id":"composer",
					"type":"enum",
                			"source_heading":"Composer [last name, first name]",
                			"label":"Composer",
                			"description":"Composer [last name, first name]"
				},
				{
					"id":"composer_dates",
					"type":"text",
                			"source_heading":"Composer dates",
                			"label":"Composer dates",
                			"description":"Composer dates"
				},
				{
					"id":"arranger",
					"type":"enum",
                			"source_heading":"Arranger [last name, first name]",
                			"label":"Arranger",
                			"description":"Arranger [last name, first name]"
				},
				{
					"id":"arranger_dates",
					"type":"text",
                			"source_heading":"Arranger dates",
                			"label":"Arranger dates",
                			"description":"Arranger dates"
				},
				{
					"id":"librettist_lyricist",
					"type":"enum",
                			"source_heading":"Librettist\/lyricist [last name, first name]",
                			"label":"Librettist\/lyricist",
                			"description":"Librettist\/lyricist [last name, first name]"
				},
				{
					"id":"librettist_lyricist_dates",
					"type":"text",
                			"source_heading":"Librettist\/lyricist dates",
                			"label":"Librettist\/lyricist dates",
                			"description":"Librettist\/lyricist dates"
				},
				{
					"id":"publication_details",
					"type":"text",
                			"source_heading":"Publication details [location, publisher]",
                			"label":"Publication details",
                			"description":"Publication details [location, publisher]"
				},
				{
					"id":"publication_used",
					"type":"text",
                			"source_heading":"Publication used for recording [rare cases, e.g. Wesley]",
                			"label":"Publication used",
                			"description":"Publication used for recording [rare cases, e.g. Wesley]"
				},
				{
					"id":"date_of_publication",
					"type":"text",
                			"source_heading":"Date of publication",
                			"label":"Date of publication",
                			"description":"Date of publication"
				},
				{
					"id":"plate_publication_numbers",
					"type":"text",
                			"source_heading":"Plate\/publication numbers [where relevant]",
                			"label":"Plate\/publication numbers [where relevant]",
                			"description":"Plate\/publication numbers [where relevant]"
				},
				{
					"id":"sources_for_publication_dates",
					"type":"text",
                			"source_heading":"Sources for publication dates",
                			"label":"Sources for publication dates",
                			"description":"Sources for publication dates"
				},
				{
					"id":"shelfmark_original",
					"type":"text",
                			"source_heading":"Shelfmark [original if Erddig item]",
                			"label":"Shelfmark [original if Erddig item]",
                			"description":"Shelfmark [original if Erddig item]"
				},
				{
					"id":"shelfmark_2013",
					"type":"text",
                			"source_heading":"Shelfmark [new \u2013 Erddig only]",
                			"label":"Shelfmark [new \u2013 Erddig only]",
                			"description":"Shelfmark [new \u2013 Erddig only]"
				},
				{
					"id":"nt_number",
					"type":"text",
                			"source_heading":"NT number",
                			"label":"NT number",
                			"description":"NT number"
				},
				{
					"id":"instrument",
					"type":"text",
                			"source_heading":"Instruments [makers, relevant serial numbers, date]",
                			"label":"Instruments",
                			"description":"Instruments [makers, relevant serial numbers, date]"
				},
				{
					"id":"instrument_owner",
					"type":"enum",
                			"source_heading":"Instrument owner",
                			"label":"Instrument owner",
                			"description":"Instrument owner"
				},
				{
					"id":"performers",
					"type":"enum",
                			"source_heading":"Performers",
                			"label":"Performers",
                			"description":"Performers"
				},
				{
					"id":"recording_location",
					"type":"enum",
                			"source_heading":"Recording location [room specific at Erddig]",
                			"label":"Recording location",
                			"description":"Recording location [room specific at Erddig]"
				},
				{
					"id":"recording_date",
					"type":"text",
                			"source_heading":"1970-01-01 00:00:00",
                			"label":"Recording Date",
                			"description":"1970-01-01 00:00:00"
				},
				{
					"id":"tags",
					"type":"enum",
					"multiple":true,
                			"source_heading":"Tags",
                			"label":"Tags",
                			"description":"Tags",
					"source_split":"\\s*,\\s*"
				},
				{
					"id":"notes",
					"type":"text",
                			"source_heading":"Notes",
                			"label":"Notes",
                			"description":"Notes"
				}

			]
		}
	]
}
