<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music in the Second Empire Theatre</title>

    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/vue-resource-1.5.1.js"></script>

    <link href="css/bootstrap-4.0.0/bootstrap.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./js/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap-4.0.0/bootstrap.min.js"></script>
    <link rel="stylesheet" src="./css/site.css"/>

    <style>
        body {
            background-color: #E5E5E5;
            font-family: Arial, Helvetica, sans-serif;
        }

        #app {
            border: 1px solid black;
            max-width: 900px;
            margin-top: 40px;
            margin-bottom: 15px;
        }

        #navigation {
            background-color: #666;
        }

        #navigation .col {
            list-style: none;
            text-align: center;
            color: white;
        }

        #navigation .col:hover {
            background-color: #E1E1E1;
        }

        #navigation .col:hover a {
            color: #333;
        }

        #navigation .col a {
            font-size: 0.8em;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }

        #header {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        #header img {
            width: 100%;
            height: 100%;
        }

        #content {
            background-color: white;
            padding: 10px;
        }

        #footer {
            margin: 2em 0;

        }

        h1, h2, h3, h4, h5, h6 {
            color: #900;
        }

        h1 {
            font-size: 1.2em;
            font-weight: bold;
        }

        h2 {
            font-size: 1.1em;
            font-weight: bold;
        }


        /* index cards */

        .index-card {
            border: solid 1px black;
        }

        /* values and labels */

        .field-value-and-label { 
        }

        .field-value { 
            display: inline-block;
        }

        .field-label { 
            display: inline-block;
            font-weight: bold;
        }
        .field-label:after { 
            content: ':';
            margin-right: 0.5em;
        }
    </style>

</head>
<body>
<div id="app" class="container">
    <div class="row" id="navigation">
        <div class="col col1"><a href="/" class="navlinks">FMC Home</a></div>
        <div class="col col2"><a href="/project-description" class="navlinks"> Project Description</a></div>
        <div class="col col3"><a href="/collections" class="navlinks">Collections</a></div>
        <div class="col col4"><a href="http://search.fmc.ac.uk/" class="navlinks">Search Collections</a></div>
        <div class="col col5"><a
                href="http://search.fmc.ac.uk/#m-columnbrowser@||m-informationcontrol@url=html/help.php"
                class="navlinks m-href">Help</a></div>
    </div>
    <div class="row" id="header">
        <img src="./assets/new-fmc-logo.jpg" alt="Header image"/>
    </div>
    <div id="content" class="row">
        <h1>Music in the Second Empire Theatre</h1>
    </div>

    <template v-if="sourceData.status == 'ERROR'">
        <div class="row">
            <h2>Unable to load data</h2>
            <p>An error has occurred. The error was: {{ sourceData.error_message }}.</p>
        </div>
    </template>
    <template v-if="sourceData.status == 'LOADING'">
        <div class="row">
            Please wait while the data loads.
        </div>
    </template>
    <template v-if="sourceData.status == 'OK'">
        <nav class="row">
            <p>
                <router-link to="/">Dataset home</router-link> | 
                <router-link to="/data">Dataset schema and download</router-link>
            </p>
         </nav>

         <router-view></router-view>

    </template>

    <div class="row" id="footer">
        <div class="col-sm-6"><img src="./assets/soton.png" alt="University of Southampton logo"/></div>
        <div class="col-sm-6"><img src="./assets/cam.png" alt="University of Cambridge logo"/></div>
    </div>
</div>
</div>

<script type="text/x-template" id="templateHome">
<div>
    Home template....

    <!--<div v-for="record in getResults()">-->
    <!--{{ record.title }}-->
    <!--</div>-->
</div>

</script>

<script type="text/x-template" id="templateData">
    <div class="row">
    <div class="col">
    <h2>About the data</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque eget libero vel dignissim. Nam tristique ipsum quis neque elementum, eu suscipit leo feugiat. Fusce viverra vel tellus id maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce id est sed erat hendrerit venenatis. Donec auctor ut felis eget tincidunt. Nam purus felis, congue id diam eu, ultricies eleifend felis.</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Field id</th>
            <th scope="col">Field name</th>
            <th scope="col">Field type</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="field in getConfigFields()">
                <td>{{ field.id }}</td>
                <td>{{ field.label }}</td>
                <td>{{ field.type }} <span v-if="field.multiple"> list</span></td>
                <td>{{ field.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
</script>

<script type="text/x-template" id="templateRecord">
    <div>
    <div class="row">
    <div class="col">
        <h2>Single index card</h2>
        <index-card-or-error v-bind:record="this.$parent.getRecord( $route.params.dataset, $route.params.id )"></index-card-or-error>
    </div>
    </div>
    </div>
</script>

<script type="text/x-template" id="templateIndexCardOrError">
    <div>
      <index-card v-if="record" v-bind:record="record"></index-card>
      <div v-else>
         NO SUCH RECORD
      </div>
    </div>
</script>

<script type="text/x-template" id="templateIndexCard">
  <div class="card index-card">
  <div class="card-body">
    <h5 class="card-title"><field-value v-bind:record="record" fieldid="title"></field-value></h5>
  <div class="row">
        <div class="col-md">
          <field-label-and-value v-bind:record="record" fieldid="acts"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="artists"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="author"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="censors_libretto"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="composer"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="dance_number"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="date"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="emplois_listed_in_vs"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="female"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="genre"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="institution"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="libretto_publisher"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="libretto_total_pages"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="male"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="melodrame"></field-label-and-value>
        </div>
        <div class="col-md">
          <field-label-and-value v-bind:record="record" fieldid="metteur_en_scene"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="numbers_act_1"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="numbers_act_2"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="numbers_act_3"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="original_date"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="original_institution"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="printed_libretto"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="printed_score"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="title"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="total_numbers"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="vs_arranger"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="vs_publisher"></field-label-and-value>
          <field-label-and-value v-bind:record="record" fieldid="vs_total_pages"></field-label-and-value>
        </div>
    </div>
  </div>
    </div>
</script>


<script>
    Vue.component("index-card-or-error",{
        props: ["record"],
        template: "#templateIndexCardOrError" } );
    Vue.component("index-card",{
        props: ["record"],
        template: "#templateIndexCard" } );

    Vue.component("field-value",{
        props: ["record","fieldid"],
        render: function(createElement) {
            var rendered_value;
            if( !this.record ) {
                rendered_value = "[FV:No record]";
            } else {
                var field = this.record._dataset.fieldsById[this.fieldid];
                if( !field ) {
                    rendered_value = "[FV:No field:"+this.fieldid+"]";
                } else {
                    var value = this.record[this.fieldid];
                    if( !value ) {
                        rendered_value = "/NULL/"; // TODO
                    } else {
                        if( field.multiple===true ) {
                            rendered_value = [];
                            for( var i=0; i<value.length; ++i ) {
                                single_value = value[i];
                                if( rendered_value.length ) { rendered_value.push( ", " ); }
                                rendered_value.push( single_value );
                            }
                        } else {
                            rendered_value = value;
                        }
                    }
                }
            }
 
            return  createElement("div",{class:"field-value"},rendered_value);
        }});

    Vue.component("field-label-and-value",{
        props: ["record","fieldid"],
        render: function(createElement) {
            if( !this.record ) {
                return createElement("div",{"class":"field-value-and-label"},"[FLV:No record]");
            }
            var field = this.record._dataset.fieldsById[this.fieldid];
            if( !field ) {
                return createElement("div",{"class":"field-value-and-label"},"[FLV:No field:"+this.fieldid+"]");
            }
            return createElement("div",{"class":"field-value-and-label"},[
                createElement("div",{"class":"field-label"},field.label),
                createElement("field-value",{"props":{"record":this.record, "fieldid":this.fieldid}})
            ]);
        }
    });


    var Home = { template: "#templateHome", };
    var Data = {
        template: "#templateData",
        methods: {getConfigFields() {

            if (this.$parent.sourceData.status == "OK") {
                return this.$parent.sourceData.datasets[0].config.fields;
            }

            return [];

        }
    }};
    var Record = { 
        template: "#templateRecord", 
        methods: {
        }
    };



    var app = new Vue({
        el: '#app',
        data: {
            sourceData: {
                status: "LOADING"
            },
            recordsById: []
        },
        created: function () {
            // GET /someUrl
            this.$http.get('/example-data.json').then(response => {
                // get body data
                this.sourceData = response.body;
                this.datasetsById = {};
                // populate records by ID. Nb. This is using the wrong ID data for now. TODO
                for( ds_i=0; ds_i<this.sourceData.datasets.length; ++ds_i ) {
                    var dataset = this.sourceData.datasets[ds_i];
                    this.datasetsById[dataset.config.id] = dataset;
                    dataset.recordsById = {};
                    dataset.fieldsById = {};

                    // create a lookup table for record by id
                    dataset.recordsById[dataset.config.id] = {};
                    for( record_i=0; record_i<dataset.records.length; ++record_i ) {
                        dataset.recordsById[record_i] = dataset.records[record_i];
                    }

                    // add a look table table for field config by id
                    dataset.fieldsById[dataset.config.id] = {};
                    for( field_i=0; field_i<dataset.config.fields.length; ++field_i ) {
                        dataset.fieldsById[ dataset.config.fields[field_i].id ] = dataset.config.fields[field_i];
                    }

                    // add a link to the dataset to each record
                    for( record_i=0; record_i<dataset.records.length; ++record_i ) {
                        dataset.records[record_i]._dataset = dataset;
                    }
                }
            }, response => {
                // error callback
                this.sourceData.status = "ERROR"
                this.sourceData.error_message = "Error loading data over network";
            })
        },

        methods: {
            getResults() {
                if (this.sourceData.status == "OK") {
                    return this.sourceData.datasets[0].records;
                }

                return [];
            },
            getRecord( dataset_id, record_id ) {
                if( !this.datasetsById[dataset_id] ) { return null; }
                return this.datasetsById[dataset_id].recordsById[record_id];
            }
        },

        router: new VueRouter({ routes: [
                { path: '/', component: Home},
                { path: '/data', component: Data},
                { path: '/record/:dataset/:id', component: Record},
            ]})

    })
</script>
</body>
</html>
