<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music in the Second Empire Theatre</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <link href="css/switch.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="./js/html5shiv.min.js"></script>
    <script src="./js/respond.min.js"></script>
    <![endif]-->

    <script src="local.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/loader.js"></script>
</head>
<body>
<div class="container" id='page'>
    <nav class="row" id="navigation">
        <div class="col col1"><a href="/" class="navlinks">FMC Home</a></div>
        <div class="col col2"><a href="/project-description" class="navlinks"> Project Description</a></div>
        <div class="col col3"><a href="/collections" class="navlinks">Collections</a></div>
        <div class="col col4"><a href="http://search.fmc.ac.uk/" class="navlinks">Search Collections</a></div>
        <div class="col col5"><a
                href="http://search.fmc.ac.uk/#m-columnbrowser@||m-informationcontrol@url=html/help.php"
                class="navlinks m-href">Help</a></div>
    </nav>
    <div class="row" id="header">
        <img src="./assets/new-fmc-logo.jpg" alt="Header image"/>
    </div>
    <div class="row">
        <div class="col">
            <h1>Music in the Second Empire Theatre</h1>
        </div>
    </div>

    <div id="app"></div>

    <div class="row" id="footer">
        <div class="col-sm-6 mt-2"><img src="./assets/soton.png" alt="University of Southampton logo"/></div>
        <div class="col-sm-6 mt-2"><img src="./assets/cam.png" alt="University of Cambridge logo"/></div>
    </div>
</div>
</div>

<script type="text/x-template" id="templateApp">
    <div>
    <template v-if="app_status == 'dev'">
        <div class="row">
        <div class="col">
        <div class="card bg-warning my-2">
          <div class="card-body text-center">
             This is a development instance of this service.
          </div>
        </div>
        </div>
        </div>
    </template>
    <template v-if="app_status == 'pprd'">
        <div class="row">
        <div class="col">
        <div class="card bg-warning my-2">
          <div class="card-body text-center">
             This is the pre-production instance of this service.
          </div>
        </div>
        </div>
        </div>
    </template>
    
    <template v-if="source_data.status == 'ERROR'">
        <div class="row">
        <div class="col">
        <div class="card bg-error my-2">
          <div class="card-body text-center">
            <h2>Unable to load data</h2>
            <p>An error has occurred. The error was: {{ source_data.error_message }}.</p>
          </div>
        </div>
        </div>
        </div>
    </template>
    <template v-if="source_data.status == 'LOADING'">
        <div class="row">
        <div class="col">
        <div class="card bg-primary text-white my-2">
          <div class="card-body text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p>Please wait while the data loads.</p>
          </div>
        </div>
        </div>
        </div>
    </template>
    <template v-if="source_data.status == 'OK'">
        <dataset v-bind:dataset="defaultDataset"></dataset>
    </template>
    </div>
</script>

<script type="text/x-template" id="templateDataset">
    <div>
        <nav class="row">
            <nav class="col">
                <p>
                    <router-link to="/">Dataset home</router-link>
                    |
                    <router-link to="/data">Dataset schema and download</router-link>
                </p>
            </nav>
        </nav>
        <router-view></router-view>
    </div>
</script>

<script type="text/x-template" id="templateHome">
    <form>
        <p>
            Music in the Second Empire Theatre is a database that gives access to the repertory of opéra comique, opérette and related genres during the long Second Empire, c1848 to c1873.
            It inventories the works of, among others, the Opéra-Comique, the Théâtre des Bouffes-Parisiens, the Théâtre des Fantaisies-Parisiennes.
            The project is work is in progress ranging from institutions where some data is largely complete (Opéra-Comique; Fantaisies-Parisiennes) to those where no data current exists as of initial release on 1 February 2019 (Théâtre Déjazet; Délassements-Comiques ).
        </p>
        <div class="row mb-1">
            <div class="col">
                <filter-form v-bind:filters="visible_filters"></filter-form>
            </div>
        </div>
        <div class="row" v-if="options.show_all_filters">
            <div class="col text-sm-right pb-3 pt-3">
                <button v-on:click="resetFilters" class="btn btn-secondary btn-sm">Reset form</button>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-sm-6">
                Order results by 
                <select v-model="options.sort_field"><option v-for="field in options.sort_fields" v-bind:value="field.id">{{field.label}}</option></select>
                <select v-model="options.sort_dir"><option value="asc">Ascending</option><option value="desc">Decending</option></select>
            </div>
            <div class="col-sm-6 text-sm-right">
                <div class="switch switch-sm">
                  <input v-model="options.show_all_filters" type="checkbox" class="switch" id="show-all-filters" />
                  <label for="show-all-filters">Show all filters</label>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <results v-bind:options="options" v-bind:results="filteredAndSortedResults"></results>
            </div>
        </div>
    </form>
</script>

<script type="text/x-template" id="templateResults">
    <div>
        <div v-if="results.length == 0" class="card mb-1">
            <div class="card-body">No records match your filter terms.</div>
        </div>

        <div v-else>
            <results-summary v-bind:results="results" v-bind:options="options" v-bind:visible_records_count="visible_records.length"></results-summary>
            <div v-for="record in visible_records">
                <summary-card v-bind:record="record"></summary-card>
            </div>
            <div class="floating-summary">
                <results-summary v-bind:results="results" v-bind:options="options" v-bind:visible_records_count="visible_records.length"></results-summary>
            </div>
        </div>

    </div>
</script>

<script type="text/x-template" id="templateResultsSummary">
    <div class="result-summary">
        <div class="card mb-1">
            <div class="card-body">
                <div>
                    <div v-if="visible_records_count==results.length" class="record-count">Showing all {{ visible_records_count }} matching records.</div>
                    <div v-else class="record-count">Showing first {{ visible_records_count }} of {{ results.length }} matching records.</div>
                    <div class="switch switch-sm">
                        <input v-model="options.show_all_results" type="checkbox" class="switch" id="show-all-results" />
                        <label for="show-all-results">Show all matches</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="templateFilterForm">
    <div class='filter-form'>
        <div v-for="filter in filters" :key="filter.field.id" class="form-row mb-1">
            <div class="col-sm-2 text-sm-right">
                <label v-if="filter.field.description != null" data-toggle="tooltip" v-bind:title="filter.field.description" v-bind:for="'filter-'+filter.field.id">{{filter.field.label}}</label>
                <label v-else v-bind:for="'filter-'+filter.field.id">{{filter.field.label}}</label>
            </div>
            <template v-if="filter.field.type=='text'">
                <div class="col-sm-2">
                    <select v-model.trim="filter.mode" class="form-control form-control-sm">
                        <option value="is">is</option>
                        <option value="contains">contains</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <debounced-input v-bind:type="'text'" v-bind:id="'filter-'+filter.field.id" v-model.trim="filter.term" class="form-control form-control-sm"></debounced-input>
                </div>
            </template>
            <template v-else-if="filter.field.type=='integer'">
                <div class="col-sm-2">
                    <select v-model.trim="filter.mode" class="form-control form-control-sm">
                        <option value="is">is</option>
                        <option value="between">is between</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <template v-if="filter.mode=='is'">
                        <debounced-input v-bind:type="'number'" v-bind:id="'filter-'+filter.field.id" v-model.trim="filter.term" class="form-control form-control-sm"></debounced-input>
                    </template>
                    <template v-if="filter.mode=='between'">
                        <debounced-input v-bind:type="'number'" v-bind:id="'filter-'+filter.field.id" v-model.number="filter.term" class="form-control form-control-sm between-number-filter"></debounced-input>
                        and
                        <debounced-input v-bind:type="'number'" v-bind:id="'filter-'+filter.field.id" v-model.number="filter.term2" class="form-control form-control-sm between-number-filter"></debounced-input>
                    </template>
                </div>
            </template>
            <template v-else-if="filter.field.type=='date'">
                <div class="col-sm-2">
                    <select v-model.trim="filter.mode" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id">
                        <option value="is">is</option>
                        <option value="between">is between</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <template v-if="filter.mode=='is'">
                        <debounced-input v-bind:type="'text'" v-model.trim="filter.term" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id"></debounced-input>
                    </template>
                    <template v-if="filter.mode=='between'">
                        <debounced-input v-bind:type="'text'" v-model.trim="filter.term" class="form-control form-control-sm between-number-filter" v-bind:id="'filter-to-'+filter.field.id"></debounced-input>
                        and
                        <debounced-input v-bind:type="'text'" v-model.trim="filter.term2" class="form-control form-control-sm between-number-filter" v-bind:id="'filter-from-'+filter.field.id"></debounced-input>
                    </template>
                </div>
            </template>
            <template v-else-if="filter.field.type=='enum'">
                <div class="col-sm-2">
                    <select v-model.trim="filter.mode" class="form-control form-control-sm">
                        <option value="is">is</option>
                        <option value="one-of">one of</option>
                    </select>
                </div>
                <div class="col-sm-8">
                <template v-if="filter.mode=='is'">
                    <select v-model="filter.term" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id">
                        <option selected="selected" value="">Select</option>
                        <option v-for="option in filter.field.options" v-bind:value="option">{{ option }}</option>
                    </select>
                </template>
                <template v-if="filter.mode=='one-of'">
                    <select multiple="multiple" v-model="filter.terms" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id">
                        <option v-for="option in filter.field.options" v-bind:value="option">{{ option }}</option>
                    </select>
                </template>
                </div>
            </template>
            <template v-else-if="filter.field.type=='freetext'">
                <div class="col-sm-10">
                    <debounced-input v-bind:type="'text'" v-model.trim="filter.term" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id"></debounced-input>
                </div>
            </template>
            <template v-else>
                <div class="col-sm-10">
                   Unknown filter type.
                </div>
            </template>
        </div>
    </div>
</script>

<script type="text/x-template" id="templateData">
    <div class="row">
        <div class="col">
            <h2>About the data</h2>
            <p>This dataset has been created and shared with the intention it should be reused. The fields in the
                dataset are described below.</p>
            <p>This data is copyright <a v-bind:href="dataset.config.copyright.url">{{ dataset.config.copyright.name }}</a> and may be reused under the <a v-bind:href="dataset.config.license.url">{{ dataset.config.license.name }}</a> license.</p>
            <p>This dataset was created by <span v-for="(creator, index) in dataset.config.creators"><span>{{ creator.name }}</span><span v-if="index+1 < dataset.config.creators.length">, </span></span>.</p>
            <p>If using this data, please attribute it as "{{ dataset.config.attribution.text }}" with a link to <a v-bind:href="dataset.config.attribution.url">{{dataset.config.attribution.url}}</a>.</p>
            <p>
                <button v-on:click="downloadJSON" class="btn btn-secondary">Download JSON</button>
                <button v-on:click="downloadCSV" class="btn btn-secondary">Download CSV</button>
            </p>
            <h2>About this software</h2>
            <p>This website uses pure Javascript to provide interaction with a JSON datafile which contains the records and site configuration. It does not require any database or PHP -- all the searching is done inside the single page. Our working title for the toolkit to make this happen is <i>DATA CAPE</i>. In theory it could be reused for similar projects in future. DATA CAPE, and this website (OPERA CAPE), were created by <a href="https://www.ecs.soton.ac.uk/people/totl">Christopher Gutteridge</a> and David Pepper in the iSolutions Web & Data Innovation team.</p>
            <h2>Schema</h2>
            <p>Field types may be text, date, integer or enum. An enum field is short for enumerated, which means a
                limited set of terms rather than free text.</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Field id</th>
                    <th scope="col">Field name</th>
                    <th scope="col">Field type</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="field in dataset.config.fields">
                    <td>{{ field.id }}</td>
                    <td>{{ field.label }}</td>
                    <td>{{ field.type }} <span v-if="field.multiple"> list</span></td>
                    <td>{{ field.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/x-template" id="templateRecord">
    <div>
        <div class="row">
            <div class="col">
                <index-card v-if="dataset.records_by_id[ $route.params.id ]"
                            v-bind:record="dataset.records_by_id[ $route.params.id ]"></index-card>
                <div v-else>
                    <p>NO SUCH RECORD</p>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="templateFieldLabelAndValueIfSet">
      <field-label-and-value v-if="typedValue.value != '' && typedValue.value != null && !(typeof typedValue.value=='array' && typedValue.value.length==0)" v-bind:typedValue="typedValue"></field-label-and-value>
</script>

<script type="text/x-template" id="templateFieldLabelAndValue">
    <div class="field-label-and-value">
      <template v-if="typedValue.field.value != ''">
        <div class="field-label" v-if="typedValue.field.description != null" data-toggle="tooltip" v-bind:title="typedValue.field.description">{{typedValue.field.label}}</div>
        <div class="field-label" v-else>{{typedValue.field.label}}</div>
        <field-value v-bind:typedValue="typedValue"></field-value>
      </template>
    </div>
</script>

<script type="text/x-template" id="templateSummaryCard">
    <div class="summary-card card mb-1">
            <div class="card-body" v-on:click="showIndexCard" title="See full details.">
                <div class="row pb-1">
                    <div class="col-sm card-title">
                        <field-value v-bind:linkValue="false" v-bind:typedValue="record.title"></field-value>
                    </div>
                    <div class="col-sm text-sm-right">
                        <field-value v-bind:linkValue="false" v-bind:typedValue="record.date"></field-value>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <template v-if="record.composer.value != null && record.composer.value.length>0">
                            <field-value v-bind:linkValue="false" v-bind:typedValue="record.composer"></field-value> <span class='label-note'>(composer)</span>
                        </template>
                        <template v-if="record.author.value != null && record.author.value.length>0">
                            <field-value v-bind:linkValue="false" v-bind:typedValue="record.author"></field-value> <span class='label-note'>(author)</span>
                        </template>
                        <template v-if="record.institution.value != null && record.institution.value!=''">
                            <field-value v-bind:linkValue="false" v-bind:typedValue="record.institution"></field-value> <span class='label-note'>(institution)</span>
                        </template>
                    </div>

                </div>
            </div>

    </div>
</script>

<script type="text/x-template" id="templateIndexCard">
    <div class="card index-card mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <field-value v-bind:linkValue="false" v-bind:typedValue="record.title"></field-value>
            </h5>

            <div class="row" v-if="record.record_complete.value=='X'">
                <div class="col-md">
                    <field-label-and-value-if-set v-bind:typedValue="record.date"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.acts"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.genre"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.numbers_act_1"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.numbers_act_2"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.numbers_act_3"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.total_numbers"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.male"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.female"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.author"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.composer"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.emplois_listed_in_vs"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.dance_number"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.melodrame"></field-label-and-value-if-set>
                </div>
                <div class="col-md">
                    <field-label-and-value-if-set v-bind:typedValue="record.institution"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.original_date"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.original_institution"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.metteur_en_scene"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.libretto_publisher"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.libretto_total_pages"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.vs_publisher"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.vs_arranger"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.vs_total_pages"></field-label-and-value-if-set>
                    <br/>
                    <field-label-and-value-if-set v-bind:typedValue="record.record_number"></field-label-and-value-if-set>
                    <br />
                    <field-label-and-value-if-set v-bind:typedValue="record.arranger"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.original_author"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.original_composer"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.original_title"></field-label-and-value-if-set>
                    <field-label-and-value-if-set v-bind:typedValue="record.tableaux"></field-label-and-value-if-set>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-md">
                    <p>This record has not yet been marked as complete.</p>
                    <field-label-and-value v-bind:typedValue="record.date"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.acts"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.genre"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.numbers_act_1"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.numbers_act_2"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.numbers_act_3"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.total_numbers"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.male"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.female"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.author"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.composer"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.emplois_listed_in_vs"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.dance_number"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.melodrame"></field-label-and-value>
                </div>
                <div class="col-md">
                    <field-label-and-value v-bind:typedValue="record.institution"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.original_date"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.original_institution"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.metteur_en_scene"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.libretto_publisher"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.libretto_total_pages"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.vs_publisher"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.vs_arranger"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.vs_total_pages"></field-label-and-value>
                    <br/>
                    <field-label-and-value v-bind:typedValue="record.record_number"></field-label-and-value>
                    <br />
                    <field-label-and-value v-bind:typedValue="record.arranger"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.original_author"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.original_composer"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.original_title"></field-label-and-value>
                    <field-label-and-value v-bind:typedValue="record.tableaux"></field-label-and-value>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</script>

<script type="text/x-template" id="templateDebouncedInput">
    <input v-bind:type="input_type" v-bind:value="input_value" v-bind:id="input_id" v-on:input="debounce_input">
</script>

</body>
</html>

