    <div class='filter-form'>
        <div v-for="filter in filters" :key="filter.field.id">
            <filter-field-text          v-if="filter.field.type=='text'"     v-bind:filter="filter"></filter-field-text>
            <filter-field-integer  v-else-if="filter.field.type=='integer'"  v-bind:filter="filter"></filter-field-integer>
            <filter-field-date     v-else-if="filter.field.type=='date'"     v-bind:filter="filter"></filter-field-date>
            <filter-field-enum     v-else-if="filter.field.type=='enum'"     v-bind:filter="filter"></filter-field-enum>
            <filter-field-freetext v-else-if="filter.field.type=='freetext'" v-bind:filter="filter"></filter-field-freetext>
            <template v-else>
                <div class="col-sm-10">
                   Unknown filter type.
                </div>
            </template>
        </div>
    </div>
