            <div class="form-row mb-1">

                <filter-field-label v-bind:filter="filter"></filter-field-label>
                <div v-if="filter.change_filter_mode" class="col-sm-2">
                    <select v-model.trim="filter.mode" class="form-control form-control-sm">
                        <option value="is">is</option>
                        <option value="one-of">one of</option>
                        <option value="set">is present</option>
                        <option value="not-set">is not present</option>
                    </select>
                </div>

                <div v-bind:class="'col-sm-'+columns">
                    <template v-if="filter.mode=='is'">
                        <div v-if="filterStyle['is'] == 'radio'">
                            <div v-for="option in filter.field.options" class="form-check form-check-inline">
                                <input v-model="filter.term" class="form-check-input" type="radio" v-bind:id="'filter-'+filter.field.id+'-'+option" v-bind:value="option">
                                <label class="form-check-label" v-bind:for="'filter-'+filter.field.id+'-'+option">{{option}}</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input v-model="filter.term" class="form-check-input" type="radio" v-bind:id="'filter-'+filter.field.id+'-'" value="">
                                <label class="form-check-label" v-bind:for="'filter-'+filter.field.id+'-'"><em>any</em></label>
                            </div>
                        </div>
                        <div v-if="filterStyle['is'] == 'select'">
                            <select v-model="filter.term" class="form-control form-control-sm" v-bind:id="'filter-'+filter.field.id">
                                <option selected="selected" value="">Select</option>
                                <option v-for="option in filter.field.options" v-bind:value="option">{{ option }}</option>
                            </select>
                        </div>
                    </template>
    
                    <template v-if="filter.mode=='one-of'">
                        <div v-if="filterStyle['one-of'] == 'checkbox'">
                            <div v-for="option in filter.field.options" class="form-check form-check-inline">
                                <input v-model="filter.terms" class="form-check-input" type="checkbox" v-bind:id="'filter-'+filter.field.id+'-'+option" v-bind:value="{'name':option}">
                                <label class="form-check-label" v-bind:for="'filter-'+filter.field.id+'-'+option">{{option}}</label>
                            </div>
                        </div>
                        <div v-if="filterStyle['one-of'] == 'multiselect'">
                            <multiselect v-model="filter.terms" :options="filter.field.multiselectOptions" :multiple="true" :close-on-select="true" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" >
                                <template slot="tag" slot-scope="{ option, remove }"><span class="custom__tag"><span>{{ option.name }}</span><span class="custom__remove" @click="remove(option)">❌</span></span></template>
                            </multiselect>
                        </div>
                    </template>
                </div>
            </div>
